body {
    background-color: #dcf7ff;
    font-family: "Fira Code", serif;
}

hr {
    display: block;
    margin: 0.5em auto;
    border: 1px inset;
}

a {
    font-weight: normal;
    text-transform: uppercase;
    color: #0f0f0f;
}

.title-center {
    text-align: center;
}

@media all and (min-width: 400px) {

    /*Form on login page*/
    .login-form {
        padding: 10px 0;
    }

    .login-form .alert {
        margin: 0 auto;
        max-width: 500px;
    }

    .login-form form {
        margin: 0 auto;
        max-width: 400px;
    }

    /*Form on registration page*/
    .registration-form {
        padding: 10px 0;
    }

    .registration-form .alert {
        margin: 0 auto;
        max-width: 500px;
    }

    .registration-form form {
        margin: 0 auto;
        max-width: 400px;
    }
}

.btn {
    color: black;
    width: 100%;
    text-transform: uppercase;
}